<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                    li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                    li(data-target='#carouselExampleIndicators', data-slide-to='1')
                    li(data-target='#carouselExampleIndicators', data-slide-to='2')
                .carousel-inner
                    .carousel-item.active
                        img.d-block.w-100(src='https://data.1freewallpapers.com/download/toyota-gt86-car-desert.jpg')
                    .carousel-item
                        img.d-block.w-100(src='http://hdwpro.com/wp-content/uploads/2017/01/Car-Full-HD-Wallpaper.jpg')
                    .carousel-item
                        img.d-block.w-100(src='http://getwallpapers.com/wallpaper/full/9/5/9/203235.jpg')
                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next