<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Demo
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
        link(rel="stylesheet", href="css/test.css") 
        script(src="js/jquery-3.2.1.js")
        
    body
        .header
            //jumbotron
            .jumbotron(itemscope)
                .jumbotron-content
                    h1.display-4(itemprop="heroTitle") Jumbotron
                    p.lead(itemprop="heroContent")
                        | This is a simple hero unit.
                    //hr.my-4
                
        
            
        //nav bar 
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top(itemscope)
            a.navbar-brand(href='#',itemprop=brand) Navbar
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavDropdown.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href='#')
                            | Home 
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='#') Features
                    li.nav-item
                        a.nav-link(href='#') Pricing
                    li.nav-item.dropdown
                        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Dropdown link
                        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            a.dropdown-item(href='#') Something else here
            //carousel
        .content   
            #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                    li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                    li(data-target='#carouselExampleIndicators', data-slide-to='1')
                    li(data-target='#carouselExampleIndicators', data-slide-to='2')
                .carousel-inner
                    .carousel-item.active
                        img.d-block.w-100(src='https://data.1freewallpapers.com/download/toyota-gt86-car-desert.jpg')
                    .carousel-item
                        img.d-block.w-100(src='http://hdwpro.com/wp-content/uploads/2017/01/Car-Full-HD-Wallpaper.jpg')
                    .carousel-item
                        img.d-block.w-100(src='http://getwallpapers.com/wallpaper/full/9/5/9/203235.jpg')
                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next

            //modal
            block modal
                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal', data-whatever='@mdo') Open modal for @mdo
                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal', data-whatever='@fat') Open modal for @fat
                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal', data-whatever='@getbootstrap') Open modal for @getbootstrap
                #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h5#exampleModalLabel.modal-title New message
                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    span(aria-hidden='true') ×
                            .modal-body
                                form
                                    .form-group
                                        label.col-form-label(for='recipient-name') Recipient:
                                        input#recipient-name.form-control(type='text',placeholder='address of recepient')
                                    .form-group
                                        label.col-form-label(for='message-text') Message:
                                        textarea#message-text.form-control
                            .modal-footer
                                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                                button.btn.btn-primary(type='button') Send message

        .footer   
            //accordion
            #accordionExample.accordion
                .card
                    #headingOne.card-header
                        h2.mb-0
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                | Collapsible Group Item #1
                    #collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordionExample')
                        .card-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                .card
                    #headingTwo.card-header
                        h2.mb-0
                            button.btn.btn-link.collapsed( type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                | Collapsible Group Item #2
                    #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                        .card-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                .card
                    #headingThree.card-header
                        h2.mb-0
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                                | Collapsible Group Item #3
                    #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                        .card-body
                            | Anim pariatur cliche  reprehendert, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

        //script(src="js/jquery-3.2.1.js")
        script(src="js/demo.js")
        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')


